body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.page-wrapper {
    width: 100%;
    min-height: 100%;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

a {
    text-decoration: none;
    outline: none;
}

/*all header*/
header {
    width: 100%;
    min-height: 180px;
    background-color: #ffffff;
}

/*first row in header*/
.header-top-inner-information
{
    width: 1280px;
    margin: 0 auto;
    min-height: 30px;
}

/*telephone number*/
.header-top-inner-information .tel_number {
    font-family: ProximaNovaBold;
    font-weight: 700;
    color: #1e1e1e;
    display: block;
    padding-top: 13px;
    font-size: 14px;
    padding-left: 30px;
    float:left;
}

/*ПН-ПТ*/
.header-top-inner-information .work-schedule {
    font-size: 12px;
    color: #ababab;
    padding-top: 15px;
    font-family: ProximaNovaBold;
    padding-left: 22px;
    font-weight: 400;
    display: block;
    float:left;
}

/*navigation menu in first row of header*/
.header-top-inner-information nav {
    float:left;
    padding-left: 107px;
}

.header-top-inner-information nav ul li {
    display: block;
    float: left;
    min-height: 100%;
}

.header-top-inner-information nav ul li a {
    color: #9c9c9c;
    font-size: 10px;
    font-family: ProximaNovaBold;
    font-weight: 400;
    display: block;
    padding: 0 16px;
}

.header-top-inner-information nav ul li a:hover {
    color: black;
}

/*enter to the site*/
.header-top-inner-information .sign_in {
    font-family: ProximaNovaBold;
    font-weight: 400;
    color: #ababab;
    display: block;
    padding-top: 17px;
    padding-left: 233px;
    font-size: 10px;
    float:left;
}

.header-top-inner-information .logo {
    background: url(../images/basket.png) 0 0 no-repeat;
    min-height: 16px;
    width: 16px;
    display: block;
    margin-top: 14px;
    padding-right: 7px;
}

.header-top-inner-information .quantity-of-elements-in-cart {
    font-family: ProximaNovaBold;
    font-weight: 400;
    font-size: 12px;
    color: #1e1e1e;
    padding-top: 16px;
    padding-right: 30px;
}

/*end of first header information block*/

/*second header information block*/

.header-second-information-block {
    width: 1280px;
    margin: 0 auto;
    max-height: 89px;
}

.header-second-information-block .LovelyShop {
    background: url(../images/lovelyshops.png) 0 0 no-repeat;
    height: 18px;
    width: 221px;
    display: block;
    margin: 44px auto;
}

.line {
    width: 1280px;
    margin: 0 auto;
    min-height: 1px;
    background-color: #f2f2f2;
}

/*header-third-information-block*/

.header-third-information-block
{
    width: 1280px;
    margin: 0 auto;
    min-height: 55px;
}

/*navigation menu in third row of header*/
.header-third-information-block nav {
    display: block;
    text-align: center;
}

.header-third-information-block nav ul li {
    display: inline-block;
    float: left;
    min-height: 100%;
    margin-top: 2px;
}

.header-third-information-block nav ul li a {
    color: #1e1e1e;
    font-family: ProximaNovaBold;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 0 25px;

}

.header-third-information-block nav ul li a:hover, .search:hover {
    color: #d2d2d2;
}

/*search in header*/
.header-third-information-block .search {
    background: url(../images/search.png) 0 0 no-repeat;
    min-height: 16px;
    width: 16px;
    display: block;
    margin-top: 3px;
    padding-right: 48px;
    cursor:pointer;
}

.search:hover {
    color: #d2d2d2;
}

main {
    width: 1280px;
    min-height: 100%;
    margin: 0 auto;
}
/* slider */

/*-----------------------------------------*/
a img {
    border: none;
}

.slider {
    text-align: center;
    margin: 0 auto;
    width: 1280px;
}

label, #active, img
{
    -moz-user-select:none;
    -webkit-user-select:none;
}

/* Slider Setup */

input {
    display: none;
}

/*inner-for-article вместо inner*/
#slide1:checked ~ #slides .inner{ margin-left:0; }
#slide2:checked ~ #slides .inner{ margin-left:-100%; }

#overflow {
    overflow: hidden;
}

article img {
    width: 100%;
}

/*article*/
#slides .inner{
    width: 500%;
    line-height: 0;
}

#slides article {
    width: 20%;
    float: left;
}

.inner .kerastase
{
    position: absolute;
    opacity: 1;
    background: url('../images/kerastase.png') no-repeat;
    width: 417px;
    height: 58px;
    cursor:pointer;
    margin-top: 113px;
    margin-left: 104px;
}

.inner .slider_line {
    width: 43px;
    margin-left: 104px;
    margin-top: 200px;
    min-height: 2px;
    background-color: #1e1e1e;
    position: absolute;
}
.inner .info
{
    width: 195px;
    min-height: 34px;
    position: absolute;
    margin-top: 237px;
    margin-left: 100px;
    font-family: ProximaNovaBold;
    font-size: 16px;
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}

/*Подробнее*/
.more_info_button {
    width:109px;
    height:109px;
    display:block;
    position: absolute;
    float: right;
    -moz-border-radius:109px;
    -webkit-border-radius:109px;
    -khtml-border-radius:109px;
    font-size: 14px;
    text-align:center;
    line-height: 109px;
    color: #c9a180;
    font-family: ProximaNovaBold;
    background-color: white;
    margin: 370px 0 90px 1130px;
}

.more_info_button:hover {
    opacity: 0.7;
    cursor:pointer;
}

.kerastase-images
{
    width: 223px;
    min-height: 182px;
    position: absolute;
    margin: 290px 0 0 256px;
    background: url('../images/Kerastase_products.png') no-repeat;
}
/* Control Setup */

#controls {
    margin: -24.5% 0 0 5px;
    width: 100%;
    height: 39px;
}

/* стиль стрелочек */
#controls label {
    display: none;
    width: 39px;
    height: 39px;
}

/* позиционирование переключателей */

#active {
    margin: 20% 0 0 0;
    text-align: center;
}

/* стиль 5-ти переключателей внизу*/

#active label{
    background: url('../images/passive_switch.png') no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
}

/* стиль стрелочек */
#controls label:hover {
    opacity: 0.7;
    cursor:pointer;
}

/* правила переходов по слайдам */
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1) {
    float: right;
    margin: 0 70px 0 0;
    display: block;
    z-index: 100;
    background: url('../images/next_picture.png') no-repeat;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2)
{
    background: url('../images/active_switch.png') no-repeat;
}

/* Slider Styling */

#slides {
    background: #fff;
}

/* Animation */

#slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

.slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#controls label{
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#controls, #slides, #active, #active label {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* end slider*/

/*Products under slider*/

.products_under_slider {
    min-height: 185px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.top_brends, .beautiful_hears, .futures_for_mens {
    display: flex;
    width: 33.333333%;
}

.top_brends {
    background: url('../images/Under_slider_1.png') no-repeat;
    background-size: cover; /* Современные браузеры */
}

.beautiful_hears {
    background: url('../images/Under_slider_2.png') no-repeat;
}

.futures_for_mens {
    background: url('../images/Under_slider_3.png') no-repeat;
}

/* first block under the slider*/
.top_brends .arrow {
    display: block;
    width: 39px;
    height: 39px;
    border: 1px solid #c59a77;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 120px 0 0 39px;
    background: #1f1f1f;
}

.top_brends p {
    width: 108px;
    min-height: 38px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #c59a77;
    line-height: 25px;
}

.top_brends a {
    margin-top: 11px;
    display: inline-block;
    margin-left: 16px;
}
/* end first block under the slider */

/* second block under the slider*/
.beautiful_hears p {
    width: 85px;
    min-height: 37px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}

.beautiful_hears .arrow_middle {
    display: block;
    width: 39px;
    height: 39px;
    border: 1px solid #1e1e1e;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 120px 0 0 39px;
    background: #1e1e1e;
}

.beautiful_hears a {
    margin-top: 11px;
    display: inline-block;
    margin-left: 16px;
}
/* end second block under the slider*/

/* third block under the slider*/
.futures_for_mens p {
    width: 104px;
    min-height: 42px;
    margin-top: 20px;
    margin-left: 25px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    line-height: 25px;
}

.futures_for_mens a {
    margin-top: 11px;
    display: inline-block;
    margin-left: 16px;
}

.futures_for_mens .arrow_third {
    display: block;
    width: 39px;
    height: 39px;
    border: 1px solid #bd9b7e;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 120px 0 0 39px;
    background: #a27c5d;
}

.futures_for_mens .arrow_third:hover,
.beautiful_hears .arrow_middle:hover,
.top_brends .arrow:hover {
    cursor:pointer;
    opacity: 0.8;
}
/* end third block under the slider*/

/*Central part of the site. Blocks with products*/

.wrapper_blocks_with_products {
    height: 898px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.first_features, .second_features, .third_features {
    display: flex;
    height: 33.3%;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: stretch;
}

.cloud_nine_touch_first, .charge_up_thickening_shampoo_first, .the_activator_density_and_density_first,
.cloud_nine_touch_second, .charge_up_thickening_shampoo_second, .the_activator_density_and_density_second,
.cloud_nine_touch_third, .charge_up_thickening_shampoo_third, .the_activator_density_and_density_third {
    display: flex;
    width: 33.3%;
}

.charge_up_thickening_shampoo_second {
    background-color: #f6f0eb;
}

.info_cloud_first, .info_cloud_second, .info_cloud_third, .beauty_style_info {
    width: 108px;
    min-height: 40px;
    margin-top: 31px;
    margin-left: 40px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}

.charge_up_info_first, .charge_up_info_second, .charge_up_info_third {
    width: 108px;
    min-height: 64px;
    margin-top: 31px;
    margin-left: 40px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}
.the_activator_info_first, .the_activator_info_second, .the_activator_info_third {
    width: 138px;
    min-height: 61px;
    margin-top: 31px;
    margin-left: 40px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}

.touch_styler_first, .touch_styler_second, .touch_styler_third, .mask_beauty {
    line-height: 12px;
    font-size: 12px;
    font-family: ProximaNovaBold;
    height: 41px;
    width: 118px;
    color: #a1a1a1;
    margin-top: 102px;
    display: block;
    position:absolute;
    margin-left: 40px;
}

.shampoo_first, .shampoo_second, .shampoo_third {
    line-height: 15px;
    font-size: 12px;
    font-family: ProximaNovaBold;
    height: 43px;
    width: 126px;
    color: #a1a1a1;
    margin-top: 122px;
    display: block;
    position:absolute;
    margin-left: 40px;
}

.density_activator_first, .density_activator_second, .density_activator_third {
    line-height: 15px;
    font-size: 12px;
    font-family: ProximaNovaBold;
    height: 58px;
    width: 119px;
    color: #a1a1a1;
    margin-top: 122px;
    display: block;
    position:absolute;
    margin-left: 40px;
}

.price_beauty, .price_cloud_third, .price_cloud_second, .price_cloud_first,
.price_shampoo_third, .price_shampoo_second, .price_shampoo_first,
.price_density_third, .price_density_second, .price_density_first{
    margin-top: 254px;
    position:absolute;
    margin-left: 40px;
    font-size: 14px;
    font-family: ProximaNovaBold;
    height: 14px;
    width: 92px;
    color: #7f7f7f;
    display: block;
}

/*blocks with orange basket*/
.orange_basket_first, .orange_basket_second, .orange_basket_third,
.orange_basket_shampoo_first, .orange_basket_shampoo_third
 {
    display: block;
    width: 39px;
    height: 39px;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 230px 0 0 350px;
    background: #ffffff;
    box-shadow: 0px 3px 0px 0px #d6d6d6;
}

.white_basket_shampoo_second {
    display: block;
    width: 39px;
    height: 39px;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 230px 0 0 350px;
    background: #c59a77;
    box-shadow: 0px 3px 0px 0px #d6d6d6;
}

.orange_basket_beauty_style {
    display: block;
    width: 39px;
    height: 39px;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 250px 0 0 350px;
    background: #ffffff;
    box-shadow: 0px 3px 0px 0px #d6d6d6;
}

.orange_basket_first:hover, .orange_basket_second:hover, .orange_basket_third:hover,
.orange_basket_beauty_style:hover, .orange_basket_shampoo_first:hover, .white_basket_shampoo_second:hover,
.orange_basket_shampoo_third:hover{
    cursor:pointer;
    opacity: 0.8;
}

.orange_basket_first a, .orange_basket_second a, .orange_basket_third a,
.orange_basket_beauty_style a, .orange_basket_shampoo_first a, .orange_basket_shampoo_third a {
    margin-top: 14px;
    display: inline-block;
    margin-left: 13px;
}

.white_basket_shampoo_second a {
    margin-top: 12px;
    display: inline-block;
    margin-left: 13px;
}
/*end blocks with orange basket*/

/*blocks with pictures*/
.cloud_nine_picture_first {
    width: 216px;
    min-height: 144px;
    position: absolute;
    background: url('../images/cloud_nine_touch_first.png') no-repeat;
    margin-top: 80px;
    margin-left: 10px;
}
.cloud_nine_picture_second {
    width: 71px;
    min-height: 209px;
    position: absolute;
    background: url('../images/cloud_nine_second.png') no-repeat;
    margin-top: 50px;
    margin-left: 90px;
}

.cloud_nine_picture_third {
    width: 190px;
    min-height: 150px;
    position: absolute;
    background: url('../images/cloud_nine_third.png') no-repeat;
    margin-top: 80px;
    margin-left: 20px;
}

.beauty_style_picture {
    width: 247px;
    min-height: 178px;
    position: absolute;
    background: url('../images/beuty_style_picture.png') no-repeat;
    margin-top: 90px;
    margin-left: 20px;
}

.charge_up_picture_first {
    width: 80px;
    min-height: 213px;
    position: absolute;
    background: url('../images/kerastase_shampoo.png') no-repeat;
    margin-top: 40px;
    margin-left: 70px;
}

.shampoo_picture_second {
    width: 234px;
    min-height: 183px;
    position: absolute;
    background: url('../images/shampoo_second.png') no-repeat;
    margin-top: 40px;
    margin-left: 40px;
}

.shampoo_picture_third {
    width: 235px;
    min-height: 145px;
    position: absolute;
    background: url('../images/shampoo_third.png') no-repeat;
    margin-top: 110px;
    margin-left: 20px;
}
/*end blocks with pictures*/

/*end central part of the site. Blocks with products*/

/*blocks with professional cosmetics and online store before footer*/

.block_with_professional_cosmetics {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 300px;
}

.beauty_style, .online_store {
    display: flex;
}

.beauty_style {
    width:33.3%;
}

/* end blocks with professional cosmetics and online store before footer*/
.online_store {
    background: url('../images/girl_from_online_store.png') no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 66.7%;
}