body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.page-wrapper {
    width: 100%;
    min-height: 100%;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

a {
    text-decoration: none;
    outline: none;
}

/*all header*/
header {
    width: 100%;
    min-height: 180px;
    background-color: #ffffff;
}

/*first row in header*/
.header-top-inner-information
{
    width: 1280px;
    margin: 0 auto;
    min-height: 30px;
}

/*telephone number*/
.header-top-inner-information .tel_number {
    font-family: ProximaNovaBold;
    font-weight: 700;
    color: #1e1e1e;
    display: block;
    padding-top: 13px;
    font-size: 14px;
    padding-left: 30px;
    float:left;
}

/*ПН-ПТ*/
.header-top-inner-information .work-schedule {
    font-size: 12px;
    color: #ababab;
    padding-top: 15px;
    font-family: ProximaNovaBold;
    padding-left: 22px;
    font-weight: 400;
    display: block;
    float:left;
}

/*navigation menu in first row of header*/
.header-top-inner-information nav {
    float:left;
    padding-left: 107px;
}

.header-top-inner-information nav ul li {
    display: block;
    float: left;
    min-height: 100%;
}

.header-top-inner-information nav ul li a {
    color: #9c9c9c;
    font-size: 10px;
    font-family: ProximaNovaBold;
    font-weight: 400;
    display: block;
    padding: 0 16px;
}

.header-top-inner-information nav ul li a:hover {
    color: black;
}

/*enter to the site*/
.header-top-inner-information .sign_in {
    font-family: ProximaNovaBold;
    font-weight: 400;
    color: #ababab;
    display: block;
    padding-top: 17px;
    padding-left: 233px;
    font-size: 10px;
    float:left;
}

.sign_in:hover {
    color: black;
}

.header-top-inner-information .logo {
    background: url(../images/basket.png) 0 0 no-repeat;
    min-height: 16px;
    width: 16px;
    display: block;
    margin-top: 14px;
    padding-right: 7px;
}

.header-top-inner-information .quantity-of-elements-in-cart {
    font-family: ProximaNovaBold;
    font-weight: 400;
    font-size: 12px;
    color: #1e1e1e;
    padding-top: 16px;
    padding-right: 30px;
}

/*end of first header information block*/

/*second header information block*/

.header-second-information-block {
    width: 1280px;
    margin: 0 auto;
    max-height: 89px;
}

.header-second-information-block .LovelyShop {
    background: url(../images/lovelyshops.png) 0 0 no-repeat;
    min-height: 18px;
    width: 221px;
    display: block;
    margin: 44px auto;
}

.line {
    width: 1280px;
    margin: 0 auto;
    min-height: 1px;
    background-color: #f2f2f2;
}

/*header-third-information-block*/

.header-third-information-block
{
    width: 1280px;
    margin: 0 auto;
    min-height: 55px;
}

/*navigation menu in third row of header*/
.header-third-information-block nav {
    display: block;
    text-align: center;
}

.header-third-information-block nav ul li {
    display: inline-block;
    float: left;
    min-height: 100%;
    margin-top: 10px;
}

.header-third-information-block nav ul li a {
    color: #1e1e1e;
    font-family: ProximaNovaBold;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 0 25px;

}

.header-third-information-block nav ul li a:hover{
    color: #d2d2d2;
}

/*search in header*/
.search {
    width: 16px;
    min-height: 16px;
    border-radius: 16px;
    margin-top: 10px;
    cursor:pointer;
    margin-right: 48px;
}

.search a {
    display: block;
    background: url("../images/search.png") no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;
}
/*end search in header*/

.search a:hover {
    opacity: 0.7;
}


main {
    width: 1280px;
    min-height: 100%;
    margin: 0 auto;
}
/* slider */

/*-----------------------------------------*/
a img {
    border: none;
}

.slider {
    text-align: center;
    margin: 0 auto;
    width: 1280px;
}

label, #active, img
{
    -moz-user-select:none;
    -webkit-user-select:none;
}

/* Slider Setup */

input {
    display: none;
}

/*inner-for-article вместо inner*/
#slide1:checked ~ #slides .inner{ margin-left:0; }
#slide2:checked ~ #slides .inner{ margin-left:-100%; }

#overflow {
    overflow: hidden;
}

article img {
    width: 100%;
}

/*article*/
#slides .inner{
    width: 500%;
    line-height: 0;
}

#slides article {
    width: 20%;
    float: left;
}

.inner .kerastase
{
    position: absolute;
    opacity: 1;
    background: url('../images/kerastase.png') no-repeat;
    width: 417px;
    height: 58px;
    cursor:pointer;
    margin-top: 113px;
    margin-left: 104px;
}

.inner .slider_line {
    width: 43px;
    margin-left: 104px;
    margin-top: 200px;
    min-height: 2px;
    background-color: #1e1e1e;
    position: absolute;
}
.inner .info
{
    width: 195px;
    min-height: 34px;
    position: absolute;
    margin-top: 237px;
    margin-left: 100px;
    font-family: ProximaNovaBold;
    font-size: 16px;
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}

/*Подробнее*/
.more_info_button {
    width:109px;
    height:109px;
    display:block;
    position: absolute;
    float: right;
    -moz-border-radius:109px;
    -webkit-border-radius:109px;
    -khtml-border-radius:109px;
    font-size: 14px;
    text-align:center;
    line-height: 109px;
    color: #c9a180;
    font-family: ProximaNovaBold;
    background-color: white;
    margin: 370px 0 90px 1130px;
}

.more_info_button:hover {
    opacity: 0.7;
    cursor:pointer;
}

.kerastase-images
{
    width: 223px;
    min-height: 182px;
    position: absolute;
    margin: 290px 0 0 256px;
    background: url('../images/Kerastase_products.png') no-repeat;
}
/* Control Setup */

#controls {
    margin: -24.5% 0 0 5px;
    width: 100%;
    height: 39px;
}

/* стиль стрелочек */
#controls label {
    display: none;
    width: 39px;
    height: 39px;
}

/* позиционирование переключателей */

#active {
    margin: 20% 0 0 0;
    text-align: center;
}

/* стиль 5-ти переключателей внизу*/

#active label{
    background: url('../images/passive_switch.png') no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
}

/* стиль стрелочек */
#controls label:hover {
    opacity: 0.7;
    cursor:pointer;
}

/* правила переходов по слайдам */
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1)
{
    float: right;
    margin: 0 70px 0 0;
    display: block;
    z-index: 100;
    background: url('../images/next_picture.png') no-repeat;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2)
{
    background: url('../images/active_switch.png') no-repeat;
}

/* Slider Styling */

#slides {
    background: #fff;
}

/* Animation */

#slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

.slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#controls label{
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#controls, #slides, #active, #active label {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* end slider*/

/*Products under slider*/

.products_under_slider {
    min-height: 185px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.top_brends, .beautiful_hears, .futures_for_mens {
    display: flex;
    width: 33.333333%;
}

.top_brends {
    background: url('../images/Under_slider_1.png') no-repeat;
    background-size: cover; /* Современные браузеры */
}

.beautiful_hears {
    background: url('../images/Under_slider_2.png') no-repeat;
}

.futures_for_mens {
    background: url('../images/Under_slider_3.png') no-repeat;
}

/*arrows and hover under the slider*/

.view_cosmetics_1:hover, .view_cosmetics_2:hover, .view_cosmetics_3:hover
{
    cursor:pointer;
}

.view_cosmetics_1:hover
{
    background: #c59a77;
}

.view_cosmetics_2:hover
{
    background: #1e1e1e;
}

.view_cosmetics_3:hover
{
    background: #ffffff;
}

.view_cosmetics_2:hover .arrow_2
{
    display: block;
    background: url("../images/arrow_middle.png") no-repeat;
    width: 39px;
    height: 39px;
    background-position: center center;
}

.view_cosmetics_3:hover .arrow_3
{
    display: block;
    background: url("../images/arrow_third.png") no-repeat;
    width: 39px;
    height: 39px;
    background-position: center center;
}

.view_cosmetics_1, .view_cosmetics_2, .view_cosmetics_3 {
    display: block;
    width: 39px;
    height: 39px;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 120px 0 0 39px;
}

.view_cosmetics_1
{
    background: #1f1f1f;
    border: 1px solid #352a23;
}

.view_cosmetics_2
{
    background: #c5ced7;
    border: 1px solid #acbdcd;
}

.view_cosmetics_3
{
    background: #c7a284;
    border: 1px solid #b48c6a;
}

.view_cosmetics_1 a, .view_cosmetics_2 a, .view_cosmetics_3 a
{
    display: block;
    background: url("../images/arrow.png") no-repeat;
    width: 39px;
    height: 39px;
    background-position: center center;
}

/*end arrows and hover under the slider*/

/* first block under the slider*/

.top_brends p {
    width: 108px;
    min-height: 38px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #c59a77;
    line-height: 25px;
}

/* end first block under the slider */

/* second block under the slider*/
.beautiful_hears p {
    width: 85px;
    min-height: 37px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}

/* end second block under the slider*/

/* third block under the slider*/
.futures_for_mens p {
    width: 104px;
    min-height: 42px;
    margin-top: 20px;
    margin-left: 25px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    line-height: 25px;
}

/* end third block under the slider*/

/*Central part of the site. Blocks with products*/

.wrapper_blocks_with_products {
    height: 898px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.first_features, .second_features, .third_features {
    display: flex;
    height: 33.3%;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: stretch;
}

.first_style {
    display: flex;
    width: 33.3%;
}

.beauty_style, .first_style {
    border: 1px solid #e5e5e5;
}

/*hover block*/
.first_style:hover,
.beauty_style:hover
{
    cursor:pointer;
    background: #f5efea;
}

.first_style:hover .orange_basket,
.beauty_style:hover .orange_basket
{
    background: #c59a77;
}

.first_style:hover .orange_picture,
.beauty_style:hover .orange_picture
{
    background: url("../images/white_basket.png") no-repeat;
    background-position: center center;
}
/*end hover block*/

/*main description about product*/
.info_cloud {
    width: 138px;
    min-height: 61px;
    margin-top: 31px;
    margin-left: 40px;
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 25px;
}
/*end main description about product*/

.description_part
{
    line-height: 15px;
    font-size: 12px;
    font-family: ProximaNovaBold;
    height: 58px;
    width: 126px;
    color: #a1a1a1;
    margin-top: 122px;
    display: block;
    position:absolute;
    margin-left: 40px;
}

.price{
    margin-top: 254px;
    position:absolute;
    margin-left: 40px;
    font-size: 14px;
    font-family: ProximaNovaBold;
    height: 14px;
    width: 92px;
    color: #7f7f7f;
    display: block;
}

/*blocks with orange basket*/

.orange_basket
{
    display: block;
    width: 39px;
    height: 39px;
    position: absolute;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    margin: 230px 0 0 350px;
    background: #ffffff;
    box-shadow: 0px 3px 0px 0px #d6d6d6;
}

.orange_basket a
{
    display: block;
    background: url("../images/orange_basket.png") no-repeat;
    width: 39px;
    height: 39px;
    background-position: center center;
}

/*end blocks with orange basket*/

/*blocks with pictures*/
.cloud_nine_picture_first, .cloud_nine_picture_second, .cloud_nine_picture_third,
.beauty_style_picture,
.charge_up_picture_first, .shampoo_picture_second, .shampoo_picture_third,
.activator_picture_first, .activator_picture_second, .activator_picture_third
{
    width: 250px;
    min-height: 300px;
    position: absolute;
}

.cloud_nine_picture_first
{
    background: url('../images/1.png') no-repeat;
}

.cloud_nine_picture_second
{
    background: url('../images/4.png') no-repeat;
    margin-left: 50px;
}

.cloud_nine_picture_third
{
    background: url('../images/7.png') no-repeat;
    margin-left: 20px;
}

.beauty_style_picture
{
    background: url('../images/9.png') no-repeat;
}

.charge_up_picture_first
{
    background: url('../images/2.png') no-repeat;
    margin-left: 40px;
}

.shampoo_picture_second
{
    background: url('../images/5.png') no-repeat;
    margin-left: 15px;
}

.shampoo_picture_third
{
    background: url('../images/8.png') no-repeat;
    margin-top: 20px;
}

.activator_picture_first
{
    background: url('../images/3.png') no-repeat;
}

.activator_picture_second
{
    background: url('../images/6.png') no-repeat;
    margin-top: 20px;
}

.activator_picture_third
{
    background: url('../images/2.png') no-repeat;
    margin-left: 20px;
}

/*end blocks with pictures*/

/*end central part of the site. Blocks with products*/

/*blocks with professional cosmetics and online store before footer*/

/*beauty style*/
.block_with_professional_cosmetics {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 300px;
}

.beauty_style, .online_store {
    display: flex;
}

.beauty_style {
    width:33.3%;
}
/*end beauty style*/

.online_store {
    background: url('../images/girl_from_online_store.png') no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 66.7%;
}

.online_store_of_professional_cosmetics {
    line-height: 25px;
    font-size: 18px;
    font-family: ProximaNovaBold;
    height: 37px;
    width: 326px;
    color: #1e1e1e;
    margin-top: 29px;
    display: block;
    position:absolute;
    margin-left: 40px;
    font-weight: 400;
}

.greetings {
    margin-top: 77px;
    color: #535151;
    display: block;
    position:absolute;
    margin-left: 40px;
    font-weight: 400;
    height: 135px;
    width: 313px;
    line-height: 15px;
    font-size: 14px;
    font-family: ProximaNovaBold;
}

.empty {
    min-height: 4px;
}

/* end blocks with professional cosmetics and online store before footer*/
.fix {
    height: 211px;
    clear: both;
}
/*footer*/
footer {
    width:1280px;
    min-height: 300px;
    background: #1e1e1e;
    margin: -211px auto;
    position: relative;
}

.footer-inner {
    width: 1280px;
    position: absolute;
    min-height: 175px;
    margin: 31px auto;
}

.online_store_block {
    position: absolute;
    color: #8e8e8e;
    line-height: 17px;
    font-size: 12px;
    font-family: ProximaNovaBold;
    width: 135px;
    min-height: 90px;
    display: block;
    font-weight: 400;
    text-align: left;
    margin:0;
    margin-left: 34px;

}

/*footer main menu*/

.footer_menu {
    position: relative;
    min-height: 165px;
    margin-top: 0;
    width: 1100px;
    margin-left: 175px;
}

.footer_menu ul {
    float: left;
    margin-right: 72px;
    margin-top: 0;
}

.footer_menu ul li {
    list-style: none;
    line-height: 25px;
    color: #8e8e8e;
}

.footer_menu ul li:first-child {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 10px;
    font-family: ProximaNovaBold;
}

.footer_menu ul li a {
    color: #8e8e8e;
    font-size: 12px;
}

.certificate {
    text-align: left;
    display: block;
    width: 80px;
    height: 28px;
    line-height: 13px;
    margin-top: 20px;
}

.footer_menu ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.footer-logo {
    background: url(../images/CupoNation.png) 0 0 no-repeat;
    height: 31px;
    width: 104px;
    display: block;
    margin-top: 8px;
}

/*end footer main menu*/

.social_network {
    width: 140px;
    height: 40px;
    display: block;
    position: relative;
    float: right;
    margin-right: 70px;
    margin-top: -8px;
}

.networks_instagram, .networks_vk, .networks_facebook {
    border: 1px solid #c59a77; /* Рамка вокруг текста */
    position: relative;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    -khtml-border-radius:39px;
    background: #333333;
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 39px;
    height: 39px;
}

.networks_instagram a
{
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../images/Instagram.png") no-repeat;
    background-position: center center;
}

.networks_vk a {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../images/Vk.png") no-repeat;
    background-position: center center;
}

.networks_facebook a {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../images/facebook.png") no-repeat;
    background-position: center center;
}

.networks_instagram:hover, .networks_vk:hover, .networks_facebook:hover {
    background: #c59a77;
}

.networks_instagram:hover .instagram_picture
{
    background: url("../images/Instagram.png") no-repeat;
    background-position: center center;
}

.networks_vk:hover .vk_picture
{
    background: url("../images/Vk.png") no-repeat;
    background-position: center center;
}

.networks_vk:hover .facebook_picture
{
    background: url("../images/facebook.png") no-repeat;
    background-position: center center;
}

/*end footer*/
